<h1>Stock!</h1>
<table>
  <tr>
   <td><label for="login">Usuario:</label></td>
    <td><input type="text" id="login" name="login"></td>
  </tr>
</table>
<table>
  <tr>
    <td><label for="password">Senha: </label></td>
    <td><input type="password" id="password" name="senha"></td>
  </tr>
</table>

<ul>
  <li>
    <%= link_to "Entrar", stores_path %>
  </li>
</ul>
